body {
  background-color: orange;
}

header h1 {
text-align: center;
color: black;
}

main {
color: black;
background-color: yellow;
padding: 20px 20px 20px 20px;
border-radius: 15px;
border: dashed yellowgreen 5px;
}

main h3 {
  text-align: center;
}

.but {
    background-color: #02D332; /* Green */
    border: none;
    color: black;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 9px;
}

.heds {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.med {
    background-color: aqua;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.fo {
    
    display: flex;
    flex-wrap: wrap;
}

.fot {
    display: flex;
    justify-content: end;
    padding-top: 30px;
    padding-bottom: 20px;
}

.but1 {
    background-color: #62ff00; /* Green */
    border: none;
    color: black;
    padding: 5px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 9px;
    
    
}
