header h1 {
    text-align: center;
}

header h2 {
    text-align: center;
}

main h1 {
    text-align: center;
}

main {
    background-color: orange;
}

body {
    background-color: red;
}

main button {
    text-size: 20px;
}
