
body {
    background-color: #FD9F02;
}

header h1, div {
    text-align: center;
}

header {
    background-color: #FD2102;
    background-image: url('https://m.media-amazon.com/images/I/71rzlQ2XMOL.jpg');
    border-radius: 15px;
    border-bottom: 5px dotted black;
    margin-bottom: 10px;
    padding-bottom: 25px;
}

main {
    background-color: #F9FD02;
    padding-bottom: 50px;
    border-radius: 10px;
}

.but {
    background-color: #02D332; /* Green */
    border: none;
    color: black;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 9px;
}

.but1 {
    background-color: #62ff00; /* Green */
    border: none;
    color: black;
    padding: 5px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 9px;
    
    
}

main img {
  height: 200px;
}

nav {
    text-align: center;
}

.mais {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.heds {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.fot {
    display: flex;
    justify-content: end;
    padding-top: 30px;
    padding-bottom: 20px;
}

.sec {
    border: dotted navy 4px;
    border-radius: 20px;
}

.fo {
    
    display: flex;
    flex-wrap: wrap;
}

.heds img {
    border-radius: 15px;
}
